table#holder {
    border: 5px dashed #CCC;
    width:400px;
    font-family:Verdana;
}
table#holder tr:first-child {
    height:50px;
    text-align:center;
}
table#holder tr:last-child {
   height:300px;
   line-height: 50px;
}
table#holder li img {
    height: 30px;
}
