body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
}

* {
  box-sizing: border-box;
  --moz-box-sizing: border-box;
}

#editor-board {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  border: 1px solid #D3D3D3;
  position: relative;
}

.widget {
  width: 75px;
  height: auto;
}

.widget .editor {
  width: auto;
  height: auto;
}

.widget .resizers {
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px solid #086a87;
  box-sizing: border-box;
  display: none;
}

.widget .resizers .resizer {
  width: 7px;
  height: 7px;
  background-color: white;
  background: white;
  border: 1px solid red;
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
}

.widget .ui-resizable-handle {
  width: 30px;
  height: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.widget .resizers .resizer.right {
  right: -5px;
  cursor: e-resizer;
}

.widget .resizers .resizer.left {
  left: -5px;
  cursor: w-resizer;
}


div.ql-editor[contenteditable="false"]>p{
  cursor: default;
}
